<mat-card-content>
    <div id="unittable" class="mat-box-shadow margin-333">
        <ngx-datatable class="material"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="0" 
        [rowHeight]="40"
        [scrollbarV]="false"
        [rows]="currentUnitList"
        [sorts]="[{prop: 'positionAge', dir: 'desc'}]">
        <ngx-datatable-column name="UnitId" prop="UnitId"></ngx-datatable-column>
        <ngx-datatable-column name="CarId" prop="CarId"></ngx-datatable-column>
        <ngx-datatable-column name="location" prop="location"></ngx-datatable-column>
        <ngx-datatable-column name="position Age" prop="positionAge" [cellClass]="getAgeClass"></ngx-datatable-column>
        <ngx-datatable-column name="Speed" prop="vehicleSpeed"></ngx-datatable-column>
        <ngx-datatable-column name="linked service" prop="serviceId"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</mat-card-content>