<div fxLayout="row">
  <mat-card style="padding:10px;" fxFlex="25">
    <div class="card-title-text">Staff Lookup</div>
    <form [formGroup]="staffSelect" (ngSubmit)="loadData()">
      <div fxLayout="row wrap">
        <mat-form-field>
          <input matInput name="staffId" formControlName="staffId" placeholder="staffId">
        </mat-form-field>
        <button mat-raised-button color="primary" style="max-height: 40px;" type="submit">Search</button>
      </div>
    </form>
  </mat-card>
</div>
<!-- <div fxLayout="row">
  <mat-card style="padding:10px;" fxFlex="100">
    <div class="card-title-text">Staff Detail</div>
    <img mat-card-image src="{{ this.staffPhotoURL }}" />
    <mat-card-content>
      <h3>{{ this.staffId }}</h3>
    </mat-card-content>
  </mat-card>
</div> -->
<div fxLayout="row">
  <mat-card id="rosterChart" fxFlex="100">
    <mat-card-title class="">
      <div class="card-title-text">Holistic Report</div>
      <mat-divider></mat-divider>
      <div fxLayout="row">
        <form [formGroup]="holisticCalendarOptions" (ngSubmit)="loadData()">
          <mat-form-field>
            <mat-select formControlName="year">
              <mat-option *ngFor="let year of this.selectableYears" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <!-- <mat-form-field>
            <mat-select>
              <mat-option *ngFor="let mode of this.calendarModes" [value]="mode">
                {{mode}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </form>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div echarts [options]="holisticCal" [merge]="updateHolisticCal" [autoResize]="true"></div>
    </mat-card-content>
  </mat-card>
</div>