<mat-card-content>
    <p>These display a simulation of the current physical stop displays. Useful for checking errors and the display of
        system messages.</p>
    <mat-tab-group>
        <mat-tab label="HVL">
            <div class="container-fluid text-center">
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WELL&stopName=Wellington%20Stn&stopPAC=WELL&uid=1441747528164&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=NGAU&stopName=Ngauranga%20Stn&stopPAC=NGAU&uid=1441747561583&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PETO1&stopName=Petone%20Stn%201&stopPAC=PETO1&uid=1441747618794&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PETO2&stopName=Petone%20Stn%202&stopPAC=PETO2&uid=1441747638061&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=AVA&stopName=Ava%20Stn&stopPAC=AVA&uid=1441747687036&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WOBU1&stopName=Woburn%20Stn%201&stopPAC=WOBU1&uid=1441747846398&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WOBU2&stopName=Woburn%20Stn%202&stopPAC=WOBU2&uid=1441747866693&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WATE1&stopName=Waterloo%20Stn%201&stopPAC=WATE1&uid=1441747918687&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WATE2&stopName=Waterloo%20Stn%202&stopPAC=WATE2&uid=1441747943059&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=EPUN&stopName=Epuni%20Stn&stopPAC=EPUN&uid=1441747982593&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=NAEN&stopName=Naenae%20Stn&stopPAC=NAEN&uid=1441748011356&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WING&stopName=Wingate%20Stn&stopPAC=WING&uid=1441748037020&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=TAIT1&stopName=Taita%20Stn%201&stopPAC=TAIT1&uid=1441748164768&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=TAIT2&stopName=Taita%20Stn%202&stopPAC=TAIT2&uid=1441748191338&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=POMA&stopName=Pomare%20Stn&stopPAC=POMA&uid=1441748211597&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=MANO&stopName=Manor%20Park%20Stn&stopPAC=MANO&uid=1441748236816&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=SILV&stopName=Silverstream%20Stn&stopPAC=SILV&uid=1441748262152&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=HERE&stopName=Heretaunga%20Stn&stopPAC=HERE&uid=1441748287640&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=TREN&stopName=Trentham%20Stn&stopPAC=TREN&uid=1441748308502&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WALL&stopName=Wallaceville%20Stn&stopPAC=WALL&uid=1441748325634&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=UPPE&stopName=Upper%20Hutt%20Stn&stopPAC=UPPE&uid=1441748344246&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
            </div>
        </mat-tab>
        <mat-tab label="JVL">
            <div class="container-fluid text-center">
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WELL&stopName=Wellington%20Stn&stopPAC=WELL&uid=1441747528164&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=CROF&stopName=Crofton%20Downs%20Stn&stopPAC=CROF&uid=1441747595006&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=NGAI1&stopName=Ngaio%20Stn%201&stopPAC=NGAI1&uid=1441747654515&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=NGAI2&stopName=Ngaio%20Stn%202&stopPAC=NGAI2&uid=1441747720600&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=AWAR&stopName=Awarua%20Street%20Stn&stopPAC=AWAR&uid=1441747746451&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=SIML&stopName=Simla%20Crescent%20Stn&stopPAC=SIML&uid=1441747783883&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=BOXH&stopName=Box%20Hill%20Stn&stopPAC=BOXH&uid=1441747835543&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=KHAN1&stopName=Khandallah%20Stn%201&stopPAC=KHAN1&uid=1441747871171&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=KHAN2&stopName=Khandallah%20Stn%202&stopPAC=KHAN2&uid=1441747920520&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=RARO&stopName=Raroa%20Stn&stopPAC=RARO&uid=1441747945583&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=JOHN&stopName=Johnsonville%20Stn&stopPAC=JOHN&uid=1441747978516&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
            </div>
        </mat-tab>
        <mat-tab label="KPL">
            <div class="container-fluid text-center">
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WELL&stopName=Wellington%20Stn&stopPAC=WELL&uid=1441748086801&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=TAKA1&stopName=Takapu%20Rd%20Stn%201&stopPAC=TAKA1&uid=1441748156453&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=TAKA2&stopName=Takapu%20Rd%20Stn%202&stopPAC=TAKA2&uid=1441748747068&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=REDW1&stopName=Redwood%20Stn%201&stopPAC=REDW1&uid=1441749192563&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=REDW2&stopName=Redwood%20Stn%202&stopPAC=REDW2&uid=1441749255375&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=TAWA1&stopName=Tawa%20Stn%201&stopPAC=TAWA1&uid=1441749308553&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=TAWA2&stopName=Tawa%20Stn%202&stopPAC=TAWA2&uid=1441749332032&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=LIND&stopName=Linden%20Stn&stopPAC=LIND&uid=1441749366487&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=KENE&stopName=Kenepuru%20Stn&stopPAC=KENE&uid=1441752027672&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PORI1&stopName=Porirua%20Stn%201&stopPAC=PORI1&uid=1441752065940&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PORI2&stopName=Porirua%20Stn%202&stopPAC=PORI2&uid=1441752094376&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PARE&stopName=Paremata%20Stn&stopPAC=PARE&uid=1441752223939&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=MANA1&stopName=Mana%20Stn%201&stopPAC=MANA1&uid=1441752406555&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=MANA2&stopName=Mana%20Stn%202&stopPAC=MANA2&uid=1441752442635&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PLIM1&stopName=Plimmerton%20Stn%201&stopPAC=PLIM1&uid=1441753563347&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PLIM2&stopName=Plimmerton%20Stn%202&stopPAC=PLIM2&uid=1441753595947&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PUKE&stopName=Pukerua%20Bay%20Stn&stopPAC=PUKE&uid=1441753709891&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PAEK1&stopName=Paekakariki%20Stn%201&stopPAC=PAEK1&uid=1441753735743&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PAEK2&stopName=Paekakariki%20Stn%202&stopPAC=PAEK2&uid=1441753753799&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PARA1&stopName=Paraparaumu%20Stn%201&stopPAC=PARA1&uid=1441753812580&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PARA2&stopName=Paraparaumu%20Stn%202&stopPAC=PARA2&uid=1441753836658&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WAIK&stopName=Waikanae%20Stn&stopPAC=WAIK&uid=1441753871110&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
            </div>
        </mat-tab>
        <mat-tab label="MEL">
            <div class="container-fluid text-center">
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WELL&stopName=Wellington%20Stn&stopPAC=WELL&uid=1457207772392&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=NGAU&stopPAC=NGAU&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PETO1&stopPAC=PETO1&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PETO2&stopPAC=PETO2&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WEST&stopPAC=WEST&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=MELL&stopPAC=MELL&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
            </div>
        </mat-tab>
        <mat-tab label="WRL">
            <div class="container-fluid text-center">
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WELL&stopName=Wellington%20Stn&stopPAC=WELL&uid=1441747528164&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PETO1&stopName=Petone%20Stn%201&stopPAC=PETO1&uid=1441747618794&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=PETO2&stopName=Petone%20Stn%202&stopPAC=PETO2&uid=1441747638061&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WATE1&stopName=Waterloo%20Stn%201&stopPAC=WATE1&uid=1441747918687&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WATE2&stopName=Waterloo%20Stn%202&stopPAC=WATE2&uid=1441747943059&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=UPPE&stopName=Upper%20Hutt%20Stn&stopPAC=UPPE&uid=1441748344246&inIFrame=true"
                    width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=MAYM&stopName=Maymorn%20Stn&stopPAC=MAYM&uid=1441750062304&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=FEAT&stopName=Featherston%20Stn&stopPAC=FEAT&uid=1441750109366&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=WOOD&stopName=Woodside%20Stn&stopPAC=WOOD&uid=1441750136538&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=MATA&stopName=Matarawa%20Stn&stopPAC=MATA&uid=1441750157588&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=CART&stopName=Carterton%20Stn&stopPAC=CART&uid=1441750185726&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=SOLW&stopName=Solway%20Stn&stopPAC=SOLW&uid=1441750225050&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=RENA&stopName=Renall%20Street%20Stn&stopPAC=RENA&uid=1441750242331&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
                    <iframe src="https://connect.rtpi.gw.govt.nz/Popup_Content/WebSign/WebSign.aspx?stopRef=MAST&stopName=Masterton%20Stn&stopPAC=MAST&uid=1441750256278&inIFrame=true"
                        width="335" height="200" scrolling="no"></iframe>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card-content>