.shiftVisChart {
  height: 80vh;
}

.toolbar-avatar.md, .toolbar-avatar.md > img {
  width: 80px !important;
  height: 80px;
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.staffCard {
  padding:0px;
  /* max-height: 100px; */
  /* max-width: 100px; */
}