<mat-card-content>
    <div fxLayout="row">
        <mat-card style="padding:10px;" fxFlex="70">
            <div class="card-title-text">Date Lookup</div>
            <form [formGroup]="daySelect" (ngSubmit)="onSubmit()">
                <div fxLayout="row wrap">
                    <mat-form-field>
                        <input matInput name="date" formControlName="date" placeholder="Date"
                            [matDatepicker]="appDatepicker">
                        <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
                    </mat-form-field>
                    <mat-datepicker #appDatepicker></mat-datepicker>
                    <button mat-raised-button color="primary" style="max-height: 40px;" [disabled]="daySelect.invalid"
                        type="submit">Search</button>
                </div>
            </form>
        </mat-card>
        <mat-card style="padding:10px;" fxFlex="30">
            <div class="card-title-text">Filter</div>
            <form [formGroup]="staffFilter">
                <div fxLayout="row wrap">
                    <mat-form-field>
                        <mat-select placeholder="staffType" (selectionChange)="filter($event)">
                            <mat-option *ngFor="let staffType of staffTypeList" [value]="staffType.value">
                                {{staffType.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="location" (selectionChange)="filter($event)">
                            <mat-option *ngFor="let location of locationList" [value]="location.value">
                                {{location.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="100" fxFlex.sm="100">
            <mat-card id="rosterChart" fxFlex="60">
                <mat-card-title class="">
                    <div class="card-title-text">Roster Availability</div>
                    <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content>
                    <div echarts [options]="rosterGroupsChart" [merge]="updateRosterGroupsChart" [autoResize]="true">
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card id="rosterChart" fxFlex="40">
                <mat-card-title class="">
                    <div class="card-title-text">Unavailability Breakdown</div>
                    <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content>
                    <div echarts [options]="unavailabilityBreakdownChart" [merge]="updateUnavailabilityBreakdownChart"
                        [autoResize]="true"></div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="40">
            <mat-card style="padding:10px; text-align:center">
                <mat-card-title>Available Staff</mat-card-title>
            </mat-card>
            <div id="variancetable" class="mat-box-shadow margin-333">
                <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="0"
                    [rowHeight]="40" [scrollbarV]="false" [rows]="filteredAvailableStaff"
                    [sorts]="[{prop: 'rosterGrid', dir: 'desc'}]" (activate)="showDayRoster($event)">
                    <ngx-datatable-column name="Roster" prop="rosterGrid"></ngx-datatable-column>
                    <ngx-datatable-column name="Staff Type" prop="staffType"></ngx-datatable-column>
                    <ngx-datatable-column name="Location" prop="location"></ngx-datatable-column>
                    <ngx-datatable-column name="Availability" prop="availabilityType"></ngx-datatable-column>
                    <ngx-datatable-column name="StaffId" prop="staffId"></ngx-datatable-column>
                    <ngx-datatable-column name="Name" minWidth=250 prop="staffName"></ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
        <div fxFlex="33.33">
            <mat-card style="padding:10px; text-align:center">
                <mat-card-title>Uncovered Shifts</mat-card-title>
            </mat-card>
            <div id="variancetable" class="mat-box-shadow margin-333">
                <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="0"
                    [rowHeight]="40" [scrollbarV]="false" [rows]="filteredUncoveredShifts"
                    [sorts]="[{prop: 'startTime', dir: 'asc'}]" (activate)="showDayRoster($event)">
                    <ngx-datatable-column name="Shift Name" prop="shiftName"></ngx-datatable-column>
                    <ngx-datatable-column name="Staff Type" prop="staffType"></ngx-datatable-column>
                    <ngx-datatable-column name="Location" prop="location"></ngx-datatable-column>
                    <ngx-datatable-column name="Start Time" prop="startTime"></ngx-datatable-column>
                    <ngx-datatable-column name="End Time" prop="endTime"></ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</mat-card-content>