<mat-card-content>
    <div fxLayout="row">
        <mat-card style="padding:10px;" fxFlex="100">
            <div class="card-title-text">Shift Lookup</div>
            <form [formGroup]="shiftSelect" (ngSubmit)="loadShift($event)">
                <div fxLayout="row wrap">
                    <mat-form-field>
                        <input matInput name="shiftId" formControlName="shiftId" placeholder="shiftId">
                    </mat-form-field>
                    <button mat-raised-button color="primary" style="max-height: 40px;"
                        type="submit">Search</button>
                </div>
            </form>
        </mat-card>
    </div>
    
    <div fxLayout="row">
            <mat-card style="padding:10px;" fxFlex="50">
                <div class="card-title-text">Shift Detail</div>
                <mat-card-content>
                    <h3>{{ this.selectedShiftName }}</h3>
                    <p>Shift Type: {{ this.selectedShiftType }}</p>
                    <mat-divider></mat-divider>
                    <div id="variancetable" class="mat-box-shadow margin-333">
                        <ngx-datatable class="material"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="0"
                        [rowHeight]="50"
                        [scrollbarV]="false"
                        [rows]="selectedShift"
                        [sorts]="[{prop: 'dutyStartTime', dir: 'asc'}]">
                        <ngx-datatable-column name="Duty" prop="dutyName" maxWidth=150></ngx-datatable-column>
                        <ngx-datatable-column name="Duty Type" prop="dutyType" maxWidth=90></ngx-datatable-column>
                        <ngx-datatable-column name="Start" prop="dutyStartTimeString" maxWidth=90></ngx-datatable-column>
                        <ngx-datatable-column name="End" prop="dutyEndTimeString" maxWidth=90></ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card style="padding:10px;" fxFlex="50">
                <div class="card-title-text">Staff Detail</div>
                <mat-card-content>
                    <h3>{{ this.selectedStaffId }} - {{ this.selectedStaffName }}</h3>
                </mat-card-content>
            </mat-card>
        </div>
</mat-card-content>