<mat-card style="padding:10px;" fxFlex="25">
  <mat-card-title>
    <div class="card-title-text">GeVis Integration Status</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    {{geVisStatusMessage}}
  </mat-card-content>
  <mat-card-content>
    {{geVisStatusTime}}
  </mat-card-content>
</mat-card>
<mat-card style="padding:10px;" fxFlex="25">
  <mat-card-title>
    <div class="card-title-text">VDS Integration Status</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    {{VDSStatusMessage}}
  </mat-card-content>
  <mat-card-content>
    {{VDSStatusTime}}
  </mat-card-content>
</mat-card>
<mat-card style="padding:10px;" fxFlex="25">
  <mat-card-title>
    <div class="card-title-text">Compass Integration Status</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    {{compassStatusMessage}}
  </mat-card-content>
  <mat-card-content>
    {{compassStatusTime}}
  </mat-card-content>
</mat-card>
<mat-card style="padding:10px;" fxFlex="25">
  <mat-card-title>
    <div class="card-title-text">Metservice Integration Status</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    {{metserviceStatusMessage}}
  </mat-card-content>
  <mat-card-content>
    {{metserviceStatusTime}}
  </mat-card-content>
</mat-card>
<mat-card style="padding:10px;" fxFlex="25">
  <mat-card-title>
    <div class="card-title-text">Maximo Integration Status</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    {{maximoStatusMessage}}
  </mat-card-content>
  <mat-card-content>
    {{maximoStatusTime}}
  </mat-card-content>
</mat-card>