<mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-card style="padding:10px; text-align:center">
                <h3>UP Trains</h3>
            </mat-card>
            <div id="variancetable" class="mat-box-shadow margin-333">
                <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="0"
                    [rowHeight]="40" [scrollbarV]="false" [rows]="uprows" [sorts]="[{prop: 'kiwirail', dir: 'asc'},{prop: 'departs', dir: 'asc'}]"
                    (activate)="openServiceView($event)">
                    <ngx-datatable-column name="Train" prop="serviceId" [cellClass]="getStatusClass"></ngx-datatable-column>
                    <ngx-datatable-column name="Cars" prop="cars" ></ngx-datatable-column>
                    <ngx-datatable-column name="Start" prop="departs"></ngx-datatable-column>
                    <ngx-datatable-column name="Var" prop="varianceFriendly" maxWidth=80 [cellClass]="getVarClass"></ngx-datatable-column>
                    <ngx-datatable-column name="Last Stn" prop="lastStation" [cellClass]="getStnClass"></ngx-datatable-column>
                    <ngx-datatable-column name="Speed" prop="speed"></ngx-datatable-column>
                    <ngx-datatable-column name="Age" prop="locationAge"></ngx-datatable-column>
                    <ngx-datatable-column name="End" prop="arrives"></ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="statusMessage" minWidth=220 [cellClass]="getStatusClass"></ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-card style="padding:10px; text-align:center">
                <h3>DOWN Trains</h3>
            </mat-card>
            <div id="variancetable" class="mat-box-shadow margin-333">
                <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="0"
                    [rowHeight]="40" [scrollbarV]="false" [rows]="downrows" [sorts]="[{prop: 'kiwirail', dir: 'asc'},{prop: 'arrives', dir: 'asc'}]"
                    (activate)="openServiceView($event)">
                    <ngx-datatable-column name="Train" prop="serviceId" [cellClass]="getStatusClass"></ngx-datatable-column>
                    <ngx-datatable-column name="Cars" prop="cars"></ngx-datatable-column>
                    <ngx-datatable-column name="Start" prop="departs"></ngx-datatable-column>
                    <ngx-datatable-column name="Var" prop="varianceFriendly" maxWidth=80 [cellClass]="getVarClass"></ngx-datatable-column>
                    <ngx-datatable-column name="Last Stn" prop="lastStation" [cellClass]="getStnClass"></ngx-datatable-column>
                    <ngx-datatable-column name="Speed" prop="speed"></ngx-datatable-column>
                    <ngx-datatable-column name="Age" prop="locationAge"></ngx-datatable-column>
                    <ngx-datatable-column name="End" prop="arrives"></ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="statusMessage" minWidth=220 [cellClass]="getStatusClass"></ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</mat-card-content>