.pilot-dark .mat-dialog-container {
  background: #303030;
}

#variancetable .datatable-header-cell{
  text-align: center;
  font-size: 1.1rem;
  padding-top: 0.4rem;
  padding-right: 0.9rem;
  padding-bottom: 0.4rem;
  padding-left: 0.9rem;
  }
#variancetable .datatable-body-cell{
  text-align: center;
  font-size: 1.1rem;
  padding-top: 0.4rem;
  padding-right: 0.9rem;
  padding-bottom: 0.4rem;
  padding-left: 0.9rem;
  vertical-align: middle;
}
  .pilot-dark #variancetable .datatable-body-cell{
    border-top: 1px solid white;
  }
  .pilot-light #variancetable .datatable-body-cell{
    border-top: 1px solid black;
  }

  #variancetable .ngx-datatable .variance-early {
    color: black;
    background-color: #3BB9FF;
  }
  .pilot-dark #variancetable .ngx-datatable .variance-okay {
    color: #97c475 !important;
  }
  .pilot-light #variancetable .ngx-datatable .variance-okay {
    color: #566e43 !important;
  }
  #variancetable .ngx-datatable .variance-late {
    color: black;  
    background-color: #ef802f;
  }
  #variancetable .ngx-datatable .variance-verylate {
    color: black;  
    background-color: #be5046;
  }
  #variancetable .ngx-datatable .variance-delayrisk {
    color: black;  
    background-color: #be5046;
  }
  #variancetable .ngx-datatable .status-early {
    color: black;
    background-color: #3BB9FF;
  }
  .pilot-dark #variancetable .ngx-datatable .status-okay {
    color: #97c475 !important;
  }
  .pilot-light #variancetable .ngx-datatable .status-okay {
    color: #566e43 !important;
  }
  #variancetable .ngx-datatable .status-late {
    color: black;  
    background-color: #ef802f;
  }
  #variancetable .ngx-datatable .status-verylate {
    color: black;  
    background-color: #be5046;
  }
  #variancetable .ngx-datatable .status-delayrisk {
    color: black;  
    background-color: #be5046;
  }
  .pilot-dark #variancetable .ngx-datatable .currentstation {
    color: #f0cf7e;
  }
  .pilot-light #variancetable .ngx-datatable .currentstation {
    color: #a88d48;
  }
  .pilot-dark #variancetable .ngx-datatable .status-awaitingdeparture {
    color: #97c475;
  }
  .pilot-light #variancetable .ngx-datatable .status-awaitingdeparture {
    color: #566e43;
  }
  #variancetable .ngx-datatable .status-linkingissue {
    color: black;  
    background-color: #be5046;
  }
  #variancetable .ngx-datatable .status-intunnel {
    color: #c578dd;  
  }
  #variancetable .ngx-datatable .status-storageroad {
    color: #f0cf7e;
  }
  #variancetable .ngx-datatable .status-nolink {
    color: black;  
    background-color: #be5046;
  }
  #variancetable .ngx-datatable .status-arriving {
    color: #f0cf7e;
  }
  #variancetable .ngx-datatable .status-stoppedbetweenstations {
    color: #f0cf7e;
  }
  #variancetable .ngx-datatable .status-prevdelayed {
    color: #f0cf7e;
  }